main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}

#pollMain {
  background-color: #282c34;
  background-image: url(https://crislombardo.com/img/the-cave.png);
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  padding: 1.25em;
  padding-bottom: 5em;
  justify-content: center;

  /* flex-direction: column; */

  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.shareImg{
  aspect-ratio: 120/63
}

:placeholder {
  color: #9DA3AE;
}

/* input[type=text], input[type=password] {
  font-size: unset;
  margin: 0.5em 0;
  border: none;
  outline: none;
} */


/* #poll input[type=text] {
  padding-left: 1em;
} */

/* #admin input[type=text], #admin input[type=password] {
  border-bottom: 1px solid grey;
  margin: 0.75em 0;
} */

input[type=checkbox]{
  transform: scale(2);
}

label, .pollOption{
  overflow-wrap: anywhere;
}

label{
  padding-left: 1rem;
}


h1{
  /* text-align: center; */
}

.pollEndDate{
  font-size: 16px;
  text-align: center;
  padding-top: 1em;
}

.container{
  /* margin: 1.5em 0; */
  padding: 1em 1.5em;
}

.panel{
  /* color: black; */
  background-color: rgba(255, 255, 255);
  border-radius: 1em;
  border: 1px solid grey;
  /* padding: 2em 2.5em; */

  /* min-width: 50%; */
  /* max-width: 75%; */
}

.optionsGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  grid-auto-rows: 1fr;
}

.surveyGrid{
  display: grid;
  /* margin: 0 0 1em; */
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  grid-auto-rows: 1fr;
}

/* div[data-target]{
  margin-top: 1em;
} */

/* .optionButton{
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border: 1px solid grey;
  border-radius: 2.5em;
} */

.pollButtonGroup{
  display: flex;
}

.button{
  font-size:unset;
  padding: 0.5em 1em;
  border-radius: 2.5em;
  background-color: lightblue;
  outline: none;
  border: none;
  cursor: pointer;
}

#admin .button{
  padding: 0.5em;
}

#admin .button.liveButton{
  padding: 0 1em;
  font-size: 16px;
  width: 100%;
  margin: 0.5em 0;
  display: block;
  color: unset;
  text-decoration: none;
  text-align: center;
  /* font-size: 14px; */

}

#admin .button.removeButton{
  background-color: #ff3333;
  width: 100%;
  margin: 0.5em 0 0;
}


#pollOptions{
  color: #000;
}

.addPollOption {
  border-bottom: 1px solid grey;
  margin: 0.75em 0;
  display: flex;
  align-items: center;
  width: 100%;
}

#admin .addPollOption input{
  margin: 0;
  border-bottom: none;

}

.dateGroup{
  display: flex;
}

.startDate{
  margin-right: 1em;
}

.endDate{
  margin-left: 1em;
}

@media screen and (max-width: 576px) {
  input[type=radio]{
    transform: scale(1.25);
  }

  .panel{
    /* width: 100%; */
    /* max-width: unset; */
  }

  .dateGroup{
    display: block;
  }

  .endDate, .startDate{
    margin: 0;
  }
}